<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7 ie6"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie10 lt-ie9 lt-ie8 ie7"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie10 lt-ie9 ie8"> <![endif]-->
<!--[if IE 9]>
<html class="no-js lt-ie10 ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>
    {{ shop.name }}
  </title>

  {% if page_description %}
    <meta name="description" content="{{ page_description }}">
  {% endif %}

  <meta name="viewport" content="width=device-width"/>
  <link href="{{ 'favicon.ico' | asset_url }}" rel="shortcut icon"/>

  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}

  <script>
    Theme = {}
  </script>

  {{ content_for_header }}
</head>

<body class="template-password {% if settings.meta-font == "'Open Sans' sans-serif" %}font-open-sans{% endif %} {% if settings.main-title-uppercase %}uppercase{% endif %}">

  {{ content_for_layout }}

  <div id="modal-login" class="password-page-modal-wrapper">
    <div class="password-page-modal">
      <div class="module header">
        <span class="close-modal">v</span>
        <p class="form-title">{{ 'general.password_page.login_form_heading' | t }}</p>
      </div>

      {% form 'storefront_password' %}
        {{ form.errors | default_errors }}
        <div class="password-page-field-wrap" {% if form.errors %}data-open-modal{% endif %}>
          <input class="password-page-input" type="password" name="password" id="password" placeholder="{{ 'general.password_page.login_form_password_label' | t }}" autofocus>
          <input class="submit" name="submit" type="submit" value="{{ 'general.password_page.login_form_submit' | t }}">
        </div>
      {% endform %}

      <p class="admin-login">
        {{ 'general.password_page.admin_link_question' | t }}
        <a href="/admin" class="admin-link">{{ 'general.password_page.admin_link_direction' | t }}</a>
      </p>
    </div>
  </div>

  <script src="//ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
  <script>
    var googleFonts = [];

    {% assign font = "'PT Serif', 'Times New Roman', Times, serif" %}
    {% if settings.body-font == font or settings.main-title-font == font or settings.secondary-header-font == font or settings.meta-font == font %}
    googleFonts.push('PT+Serif:400,700,400italic,700italic');
    {% endif %}

    {% assign font = "'Raleway', sans-serif" %}
    {% if settings.body-font == font or settings.main-title-font == font or settings.secondary-header-font == font or settings.meta-font == font %}
    googleFonts.push('Raleway:400,700,600');
    {% endif %}

    {% assign font = "'Open Sans', sans-serif" %}
    {% if settings.body-font == font or settings.main-title-font == font or settings.secondary-header-font == font or settings.meta-font == font %}
    googleFonts.push('Open+Sans:400italic,600italic,700italic,400,700,600');
    {% endif %}

    {% assign font = "'Source Sans Pro', sans-serif" %}
    {% if settings.body-font == font or settings.main-title-font == font or settings.secondary-header-font == font or settings.meta-font == font %}
    googleFonts.push('Source+Sans+Pro:400,600,700,400italic,600italic,700italic');
    {% endif %}

    {% assign font = "'Arvo', serif" %}
    {% if settings.body-font == font or settings.main-title-font == font or settings.secondary-header-font == font or settings.meta-font == font %}
    googleFonts.push('Arvo:400,700,400italic,700italic');
    {% endif %}

    if (googleFonts.length) {
      WebFont.load({
        google: {
          families: googleFonts
        }
      });
    }
  </script>

  {{ 'modernizr-2.6.2.min.js' | asset_url | script_tag }}
  {{ 'jquery-1.9.min.js' | asset_url | script_tag }}

  {{ 'plugins.js' | asset_url | script_tag }}
  {{ 'site.js' | asset_url | script_tag }}

</body>
</html>
