<div data-section-id="{{ section.id }}" data-section-type="password-template">

  {% if section.settings.password-page-social-icons %}
    {% include 'icons-sprite' %}
  {% endif %}

  <section class="password-page-background"
    {% if section.settings.image %}
      style="background-image: url({{ section.settings.image | img_url: '1440x1440' }});"
    {% endif %}>

    <div class="password-page content-area">
      <div class="password-page-header">
        <div class="password-page-inner">
          <a href="#modal-login" class="admin-login-modal">
            {{ 'general.password_page.password_link' | t }}
          </a>
        </div>
      </div>

      <div class="password-page-content">
        <div class="password-page-inner">
          {{ content_for_layout }}

          <div class="password-page-logo">
            <h1 class="store-title">
              {{ shop.name }}
            </h1>
          </div>
          <div class="password-page-signup-form">
            <div class="password-page-form-header">
              <h2>{{ 'general.password_page.opening_soon' | t }}</h2>

              {% unless shop.password_message == blank %}
                <p class="password-page-message">
                  {{ shop.password_message }}
                </p>
              {% endunless %}
              {% if section.settings.password-page-social-icons %}
                {% include 'social-links' %}
              {% endif %}
            </div>

            {% form 'customer', class: 'newsletter-signup' %}
              {{ form.errors | default_errors }}

              {% if form.posted_successfully? %}
                <p class="form-success">{{ 'general.password_page.signup_form_success' | t }}</p>
              {% else %}
                <p class="form-title">{{ 'general.password_page.signup_form_heading' | t }}</p>

                <div class="password-page-field-wrap">
                  <input class="password-page-input" type="text" name="contact[email]" id="email" placeholder="{{ 'general.password_page.signup_form_email_placeholder' | t }}">
                  <input class="submit" name="commit" type="submit" value="{{ 'general.password_page.signup_form_submit' | t }}">
                  <input type="hidden" name="contact[tags]" value="prospect, password page">
                </div>
              {% endif %}
            {% endform %}
          </div>
        </div>
      </div>

      <div class="password-page-footer" role="contentinfo">
        <div class="password-page-inner">
          {% capture shopify %}
            <a class="shopify-link" href="//www.shopify.com/" target="_blank" title="Create your own online store with Shopify">
              <span class="shopify-name">Shopify</span>
            </a>
          {% endcapture %}
          {{ 'general.password_page.powered_by_shopify_html' | t: shopify: shopify }}
        </div>
      </div>

    </div>
  </section>

</div>

{% schema %}
{
  "name": "Password pages",
  "class": "section-password",
  "settings": [
    {
      "type": "header",
      "content": "General"
    },
    {
      "type": "checkbox",
      "id": "password-page-social-icons",
      "label": "Show social icons",
      "default": true
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Background image"
    }
  ]
}

{% endschema %}