<div data-section-id="{{ section.id }}" data-section-type="product-template">

  {%- assign thumbOrientation = section.settings.thumb-orientation -%}
  {%- assign relatedProducts = section.settings.related-products -%}
  {%- assign productQuantityOption = section.settings.product-quantity-option -%}
  {%- assign fullsizeProductViewer = section.settings.fullsize-product-viewer -%}
  {%- assign productEmailLink = section.settings.product-email-link -%}
  {%- assign brandNames = settings.show-brand-names -%}
  {%- assign fittingGuide = section.settings.fitting-guide-link -%}
  {%- assign fittingGuideIcon = section.settings.fitting-guide-icon -%}
  {%- assign altProductCard = settings.alt-product-card -%}
  {%- assign imageBorders = settings.image-borders -%}
  {%- assign enableQuickshop = settings.enable-quick-shop -%}
  {%- assign productQuickAdd = section.settings.product-quick-add -%}
  {%- assign selectedVariant = product.selected_or_first_available_variant | default: product -%}
  {%- assign has_variants = false -%}
  {%- unless product.has_only_default_variant -%}
    {%- assign has_variants = true %}
  {%- endunless -%}

  <div class="content-area">
    {% include 'breadcrumbs' %}
  </div>

  <main class="content content-area">
    <section id="product-area" class="clearfix" itemscope itemtype="http://schema.org/Product" data-product-id="{{ product.id }}">
      <div class="mobile-product-title">
        {% if brandNames %}
          <h3 class="brand">{{ product.vendor }}</h3>
        {% endif %}

        <h2 class="title">{{ product.title }}</h2>

        <p class="price sale">
          <span class="original money">{{ product.selected_or_first_available_variant.compare_at_price | money }}</span>
          <span class="money">{{ product.selected_or_first_available_variant.price | money }}</span>
        </p>

        <div class="share-buttons">
          <div class="share-wrap twitter">
            <a href="https://twitter.com/share" class="twitter-share-button" data-count="none" data-text="{{ shop.name }} | {{ product.title }}:" data-via="{{ settings.twitter-url | split: 'twitter.com/' | last }}">Tweet</a>
          </div>

          <div class="share-wrap google">
            <div class="g-plusone" data-size="medium" data-annotation="none"></div>
          </div>

          <div class="share-wrap pinterest">
            <a href="//pinterest.com/pin/create/button/?url={{ shop.url }}{{ product.url }}&amp;media={{ product.featured_image | product_img_url: 'original' }}&amp;description={{ product.title | escape }}" data-pin-do="buttonPin" data-pin-config="none"><img src="//assets.pinterest.com/images/pidgets/pin_it_button.png" /></a>
            <script type="text/javascript" src="//assets.pinterest.com/js/pinit.js"></script>
          </div>

          <div class="share-wrap facebook">
            <div class="fb-like" data-href="{{ shop.url }}{{ product.url }}" data-send="false" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="false"></div>
          </div>
        </div>
      </div>

      <meta itemprop="url" content="{{ shop.url }}{{ product.url }}" />
      {% if brandNames %}
        <meta itemprop="brand" content="{{ product.vendor }}" />
      {% endif %}
      <meta itemprop="name" content="{{ product.title }}">

      <div class="showcase product-images" data-thumb-orientation="{{ thumbOrientation }}">
        {% if thumbOrientation == 'list' %}
          {% for image in product.images %}
            <div class="container {% if product.images.size == 1 %}wide{% endif %}">
              <div class="product-main-image wrap">
                  <div class="image-list-item">
                    <img itemprop="image" alt="{{ image.alt }}" src="{{ image | img_url: 'original' }}">
                    {% if imageBorders %}
                      <span class="overlay"></span>
                    {% endif %}
                  </div>

                {% if section.settings.image-zoom %}
                  <div class="product-zoom"></div>
                {% endif %}
              </div>
            </div>
          {% endfor %}
        {% else %}
          <div class="container {% if product.images.size == 1 or thumbOrientation == 'below' %}wide{% endif %}">
            <div class="product-main-image wrap">
              {% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}
              <img itemprop="image" alt="{{ featured_image.alt }}" src="{{ featured_image | img_url: 'original' }}">
              {% if imageBorders %}
                <span class="overlay"></span>
              {% endif %}

              {% if section.settings.image-zoom %}
                <div class="product-zoom"></div>
              {% endif %}
            </div>
          </div>

          {% if product.images.size > 1 %}
            <div class="pager {% if thumbOrientation == 'below' %}below-main-image{% endif %}">
              <div class="inner">
                {% for image in product.images %}
                  <div class="wrap thumb {% include 'for-looper' %} {% if forloop.first %}active{% endif %}">
                    <img
                      alt="{{ image.alt }}"
                      src="{{ image.src | product_img_url: 'small' }}"
                      data-high-res-url="{{ image.src | product_img_url: 'original' }}"
                      data-image-id="{{ image.id }}"
                    >
                    <span class="overlay"></span>
                  </div>
                {% endfor %}
              </div>
            </div>
          {% endif %}
        {% endif %}

        {% if fullsizeProductViewer %}
          <div class="notes">
            <a href="#" class="toggle-fullview"><span class="icon">l</span>{{ 'products.product.view_fullsize_image' | t }}</a>
          </div>
        {% endif %}

        {% if productEmailLink %}
          <div class="notes">
            <a href="mailto:{{ shop.email }}?Subject={{ product.title | escape }}" class="email-us"><span class="icon">j</span>{{ 'products.product.email_us' | t }}</a>
          </div>
        {% endif %}

        {% if fittingGuide != blank %}
          <div class="notes">
            <a href="/pages/{{ fittingGuide }}" class="fitting-guide"><span class="icon">{{ fittingGuideIcon }}</span>{{ 'products.product.fitting_guide' | t }}</a>
          </div>
        {% endif %}
      </div>

      <div class="product-details-wrapper">
        <div class="product-details
          {% if product.images.size > 1 %}border{% endif %}
          {% if has_variants == false and productQuantityOption == false %}no-options{% endif %}"
          data-product-quick-add="{{ productQuickAdd }}"
          itemprop="offers"
          itemscope
          itemtype="http://schema.org/Offer">

          <div class="module header">
            {% if brandNames %}
              <h3 class="brand">{{ product.vendor }}</h3>
            {% endif %}

            <h1 itemprop="name" class="title">{{ product.title }}</h1>

            <meta itemprop="priceCurrency" content="{{ shop.currency }}" />

              <p class="price sale">
                <span class="original money">{{ product.selected_or_first_available_variant.compare_at_price | money }}</span>
                <span class="money" itemprop="price">{{ product.selected_or_first_available_variant.price | money }}</span>
              </p>

          </div>

          <div class="module share-buttons">
            <div class="share-wrap twitter">
              <a href="https://twitter.com/share" class="twitter-share-button" data-count="none" data-text="{{ shop.name }} | {{ product.title }}:" data-via="{{ settings.twitter-url | split: 'twitter.com/' | last }}">Tweet</a>
            </div>

            <div class="share-wrap google">
              <div class="g-plusone" data-size="medium" data-annotation="none"></div>
            </div>

            <div class="share-wrap pinterest">
              <a href="//pinterest.com/pin/create/button/?url={{ shop.url }}{{ product.url }}&media={{ product.featured_image | product_img_url: 'original' }}&description={{ product.title | escape }}" data-pin-do="buttonPin" data-pin-config="none"><img src="//assets.pinterest.com/images/pidgets/pin_it_button.png" /></a>
              <script type="text/javascript" src="//assets.pinterest.com/js/pinit.js"></script>
            </div>

            <div class="share-wrap facebook">
              <div class="fb-like" data-href="{{ shop.url }}{{ product.url }}" data-send="false" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="false"></div>
            </div>
          </div>

          <div class="module options {% unless product.available %}unavailable{% endunless %}">
            {% unless form_id %}
              {% assign form_id = product.id %}
            {% endunless %}

            {% if product.available %} <!-- If the product is available then... -->
              <link itemprop="availability" href="http://schema.org/InStock" />
              <form class="product-form" id="product-form" action="/cart/add" method="post" data-product-form="{{ form_id }}">

                {% if has_variants %}
                  <div class="product-options">
                    {% include 'product-options-dropdown' %}

                    <div class="selector-wrapper no-js-required">
                      <label for="product-select-{{ form_id }}"></label>
                      <select
                        class="product-select"
                        name="id"
                        id="product-select-{{ form_id }}">
                        {% for variant in product.variants %}
                          {% if variant.available %}
                            <option
                              {% if variant.id == selectedVariant.id %}selected="selected"{% endif %}
                              value="{{ variant.id }}" data-variant-id="{{ variant.id }}">
                              {{ variant.title }} - {{ variant.price | money }}
                            </option>
                          {% else %}
                            <option disabled="disabled" value="{{ variant.id }}" data-variant-id="{{ variant.id }}">
                              {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                            </option>
                          {% endif %}
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                {% else %}
                  <input
                    class="product-select"
                    name="id"
                    value="{{ product.variants[0].id }}"
                    type="hidden"
                    data-variant-title="{{ product.variants[0].title }}" />
                {% endif %}

                <div id="infiniteoptions-container" class="side-labels"></div>
                <div id="uploadery-container" class="side-labels"></div>

                {% if productQuantityOption %}
                  <div class="selector-wrapper quantity">
                    <label>{{ 'general.quantity' | t }}</label>
                    <input type="text" class="product-quantity field" name="quantity" value="1">
                  </div>
                {% else %}
                  <input type="hidden" name="quantity" value="1">
                {% endif %}

                <div class="selector-wrapper submit-wrapper">
                  <input type="submit" class="action-button submit" value="{{ 'products.product.add_to_cart' | t }}">
                </div>
              </form>
            {% else %}
              <div class="product-form unavailable" id="product-form" data-product-form="{{ form_id }}">
                <link itemprop="availability" href="http://schema.org/OutOfStock" />
                <span class="action-button unavailable disabled">{{ 'products.product.sold_out' | t }}</span>
              </div>
            {% endif %}
          </div>

          {% if product.description.size > 0 %}
          <div class="module description">
            <div class="rte" itemprop="description">{{ product.description }}</div>
          </div>
          {% endif %}
        </div>
      </div>

      {% assign add_to_cart_text = 'products.product.add_to_cart' | t %}

      {%
        include 'product-json',
        id: product.id,
        add_to_cart_text: add_to_cart_text,
        enable_history: true
      %}
    </section>

    {% if relatedProducts %}
      {% assign number_of_related_products_to_show = 4 %}
      {% assign image_size = 'medium' %}
      {% capture number_of_related_products_to_fetch %}{{ number_of_related_products_to_show | plus: 1 }}{% endcapture %}

      {% if collection == null or collection.handle == 'frontpage' or collection.handle == 'all' %}
        {% assign found_a_collection = false %}
        {% for c in product.collections %}
          {% if found_a_collection == false and c.handle != 'frontpage' and c.handle != 'all' %}
            {% assign found_a_collection = true %}
            {% assign collection = c %}
          {% endif %}
        {% endfor %}
      {% endif %}

      {% if collection.products.size > 1 %}
        <section class="related-products">
          <h2 class="section-title section-border">{{ 'products.related_products.header' | t }}</h2>
          <ul class="product-list">
            {% assign current_product_found = false %}
            {% for prod in collection.products limit: number_of_related_products_to_fetch %}
              {% if prod.title == product.title %}
                {% assign current_product_found = true %}
              {% else %}
                {% unless current_product_found == false and forloop.last %}
                  {% include 'product-item' %}
                {% endunless %}
              {% endif %}
            {% endfor %}
          </ul>
        </section>
      {% endif %}
    {% endif %}
  </main>

  {% if fullsizeProductViewer %}
    <section class="fullscreen-product-viewer">
      <div class="modal">
        <div class="modal-wrap">
          <span class="close">v</span>
          <div class="showcase {% if product.images.size == 1 %}wide{% endif %}">
            <div class="container">
              <div class="wrap">
                <img alt="{{ product.featured_image.alt }}" src="{{ product.featured_image | product_img_url: 'original' }}">
                <span class="overlay"></span>
              </div>
            </div>
          </div>

          {% if product.images.size > 1 %}
          <div class="pager antiscroll-wrap">
            <div class="antiscroll-inner">
              {% for image in product.images %}
                <div class="wrap thumb {% include 'for-looper' %} {% if forloop.first %}active{% endif %}">
                  <img alt="{{ image.alt }}" src="{{ image.src | product_img_url: 'small' }}" data-high-res-url="{{ image.src | product_img_url: 'original' }}">
                  <span class="overlay"></span>
                </div>
              {% endfor %}
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </section>
  {% endif %}

</div>

{% schema %}
{
  "name": "Product pages",
  "class": "section-product",
  "settings": [
    {
      "type": "header",
      "content": "General"
    },
    {
      "type": "checkbox",
      "id": "show-breadcrumbs",
      "label": "Show breadcrumbs",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "product-quantity-option",
      "label": "Show quantity selector",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "product-email-link",
      "label": "Show email link",
      "default": true
    },
    {
      "type": "header",
      "content": "Images"
    },
    {
      "type": "checkbox",
      "id": "image-zoom",
      "label": "Enable image zoom"
    },
    {
      "type": "checkbox",
      "id": "fullsize-product-viewer",
      "label": "Enable image lightbox link",
      "default": true
    },
    {
      "type": "select",
      "id": "thumb-orientation",
      "label": "Product thumbnail position",
      "options": [
        {
          "value": "right",
          "label": "Right of main image"
        },
        {
          "value": "below",
          "label": "Below main image"
        },
        {
          "value": "list",
          "label": "No thumbnails, display as list"
        }
      ]
    },
    {
      "type": "header",
      "content": "Advanced"
    },
    {
      "type": "checkbox",
      "id": "product-quick-add",
      "label": "Enable quick add-to-cart",
      "default": false
    },
    {
      "type": "paragraph",
      "content": "Stay on the current page when an item is added to the cart"
    },
    {
      "type": "header",
      "content": "Related products"
    },
    {
      "type": "checkbox",
      "id": "related-products",
      "label": "Enable related products",
      "default": true
    },
    {
      "type": "header",
      "content": "Fitting guide"
    },
    {
      "type": "page",
      "id": "fitting-guide-link",
      "label": "Page"
    },
    {
      "type": "select",
      "id": "fitting-guide-icon",
      "label": "Fitting guide icon",
      "options": [
        {
          "value": "k",
          "label": "Shirt"
        },
        {
          "value": "b",
          "label": "Ruler"
        },
        {
          "value": "d",
          "label": "Info"
        }
      ],
      "default": "k"
    }
  ]
}

{% endschema %}