<aside class="social-links">
  <a href="mailto:{{ shop.email }}" class="social-links__link">{% include 'social-icon-mail.svg' %}</a>

  {% if settings.twitter-url.size > 0 %}
    <a href="{{ settings.twitter-url | escape }}" class="social-links__link -is-twitter" target="_blank">{% include 'social-icon-twitter.svg' %}</a>
  {% endif %}

  {% if settings.facebook-url.size > 0 %}
    <a href="{{ settings.facebook-url | escape }}" class="social-links__link -is-facebook" target="_blank">{% include 'social-icon-facebook.svg' %}</a>
  {% endif %}

  {% if settings.pinterest-url.size > 0 %}
    <a href="{{ settings.pinterest-url | escape }}" class="social-links__link -is-pinterest" target="_blank">{% include 'icon' with 'pinterest' %}</a>
  {% endif %}

  {% if settings.google-plus-url.size > 0 %}
    <a href="{{ settings.google-plus-url | escape }}" class="social-links__link -is-google-plus" target="_blank">{% include 'icon' with 'google-plus' %}</a>
  {% endif %}

  {% if settings.instagram-url.size > 0 %}
    <a href="{{ settings.instagram-url | escape }}" class="social-links__link -is-instagram" target="_blank">{% include 'social-icon-instagram.svg' %}</a>
  {% endif %}

  {% if settings.tumblr-url.size > 0 %}
    <a href="{{ settings.tumblr-url | escape }}" class="social-links__link -is-tumblr" target="_blank">{% include 'icon' with 'tumblr' %}</a>
  {% endif %}

  {% if settings.youtube-url.size > 0 %}
    <a href="{{ settings.youtube-url | escape }}" class="social-links__link -is-youtube" target="_blank">{% include 'icon' with 'youtube' %}</a>
  {% endif %}

  {% if settings.vimeo-url.size > 0 %}
    <a href="{{ settings.vimeo-url | escape }}" class="social-links__link -is-vimeo" target="_blank">{% include 'icon' with 'vimeo' %}</a>
  {% endif %}
</aside>
